.mainsection {
  position: relative;
  width: 100%;
  height: 792px;
  margin: 0;
  padding: 0; 
   
  
}
.main-image {
  width: 892px;
  height: 909px;
  /* object-fit: cover; */
  position: relative;
  top: 10px;
 
}
.bgcclip
{
height: 788px;;

background: radial-gradient( #FFF280,#FFC700);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);

}
.overlap{
  position: absolute;
  top: 0px; 
  left: 0;
  width: 100%;
}


 @media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100vw;
  }
  .bgcclip
  {
 height: 630px; 
}
.mainsection{
  height: 600px;
}


}

