.basesection{
    position: relative;
    width: 100%;
    height: 792px;
    margin-top: 10px;
    padding: 0;
}

.backgroundCilp{
    height: 1311px;
    background: radial-gradient(#FFF280, #FFC700);
    clip-path: polygon(0 25%, 183% 0, 103% 100%, 0 87%);


}

.backgroundOverlap{
    position: absolute;
    top: 0px; 
    left: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .basesection {
      flex-direction: column;
      width: 98vw;
    }
    .backgroundCilp
    {
   height: 630px; 
  }
  .backgroundOverlap{
    height: 600px;
  }
  
  
  }
  
  