.card-container {
    width: 263px;
    height: 383px;
    padding: 20px;
    border-radius: 60px 0px 0px 0px;
    text-align: center;
    color: #fff;
     
  
 
  }
  
  .card-image {
    width: 150px;
    margin-bottom: 20px;
  }
  