.imgcontainer {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }
  
  .main-image {
    width: 892px;
    height: 909px;
    object-fit: cover;
    position: relative;
    top: 10px;
   
  }

  
  @media (max-width: 768px) {
    .imgcontainer {
      width: 100%;
      height: 152px;
      padding-top: 56px;
  }
  .main-image {
    width: 67%;
    height: 258px;
  }
}


  
