.imgcontainer {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }
  
  .main-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    
    
  
    
  }
  @media (max-width: 768px) {
    .imgcontainer {
        width: 100%;
        height: auto;
      }
  }
