.container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    /* height: auto; */
    /* max-height: 90vh; */
     
    overflow: hidden;
  }
  @media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100vw;
      }
    }